@import "~bulma/sass/utilities/initial-variables"

$animapaise-blue: #4d6b96
$animapaise-blue-invert: #fff

$primary: $animapaise-blue
$primary-invert: $animapaise-blue-invert
$body-color: #333
$black: #2b2523

// $navbar-height: 10.4rem
$navbar-item-img-max-height: none

@import "~bulma"