@import "~bulma/sass/utilities/initial-variables"

$animapaise-blue: #4d6b96
$animapaise-blue-invert: #fff

$primary: $animapaise-blue
$primary-invert: $animapaise-blue-invert
$body-color: #333
$black: #2b2523

// $navbar-breakpoint: 1220px
$navbar-item-img-max-height: none

.navbar-burger
  height: auto !important

.navbar-burger span
  height: 2px !important
  width: 18px !important

@import "~bulma"